.App {
  text-align: center;
}
.name{
  width: 100%;
  font-size: 50px;
}
.questions{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.question{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 50vh;
  margin: 15px;
   padding: 15px;
}
a{
  text-decoration: none;
  border: 1px solid;
  width: 23%;
  color: #333;
  margin: 15px;
}
.ans{
  margin: 20px;
  padding: 15px;

}
.image{
  width: 80%;
  object-fit:fill;
}
.anwered{
  border: 1px solid;
  width: 60%;
}
.imageContainer{
  width: 80%;
}
.imageA{
  width: 50%;
}
.des{
  width: 30%;
  border: 1px solid;
  padding: 15px;
}
/* @keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
